* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 1);
}

h1 {
  text-align: center;
  color: white;
  margin: 10px;
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container-div {
  text-align: center;
}

#btn {
  color: black;
  background-color: white;
  text-align: center;
  margin: 5px;
  padding: 10px;
  height: auto;
  width: 20%;
}

#btn:hover {
  cursor: pointer;
}
